@keyframes anim-effect-3-1 {
	0% {
		transform: translate3d(0, 0, 0);
	}
	25%, 75% {
		transform: translate3d(0, -100%, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-2 {
	0%, 12.5% {
		transform: translate3d(0, 0, 0);
	}
	37.5%, 62.5% {
		transform: translate3d(0, -100%, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%, 100% {
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-3 {
	0%, 25% {
		transform: translate3d(0, 0, 0);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%, 100% {
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes pop {
	0% {
		opacity: 0;
		font-size: 0px;
	}
	50% {
		font-size: 25px;
	}
	100% {
		opacity: 1;
		font-size: 20px
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}

}

@keyframes slide-in-left {
	0% {
		left: -800px;
		opacity: 0;
	}
	75% {
		left: 0	;
	}
	100% {
		opacity: 1;
	}
}

@keyframes color-change{
	/*"borrowed" from vert.io*/
  0				 {color: #000000;}
  14.666666667%  {color: #2a00ff;}
  29.333333334%  {color: #28D7FF;}
  45.000000001%  {color: #9EE216;}
  60.666666668%  {color: #ff6500;}
  75.333333335%  {color: #ffa500;}
  90%            {color: #ff00ae;}
  100%			 {color: #000000;}
}

@keyframes slide-in-right {
	0% {
		left: 800px;
		opacity: 0
	}
	75% {
		left: 0	;
	}
	100% {
		opacity: 1;
	}
}

@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px rgba(94,100,114, 0.4), 0 0 0 5px rgba(255,255,255,0.75);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px rgba(94,100,114, 0.4), 0 0 0 5px rgba(255,255,255,0.75);
		transform: scale(1.5);
		opacity: 0;
	}
}
