@lost gutter 20px;
:root {
	--dark-grey: #5E6472;
	/*--dark-grey: #000;*/
}
* {
	/*border: 1px solid grey;*/
	/*lost-utility: edit;*/
}

html, body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: var(--font-family);
	font-weight: 300;
	color: var(--dark-grey);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	overflow-x: hidden;
}

main {
	lost-center: 1280px;
}

section {
	lost-utility: clearfix;
	padding: 1em;
	box-sizing: border-box;
}

h1 {
	font-size: 1.8em;
	margin: 0;
	text-transform: uppercase;
}
h3 {
	text-transform: uppercase;
	margin: 0;
}
h4 {
	font-weight: 300;
	margin: 0;
}

@media screen and (min-width: 1550px){
	h1 {
		font-size: 104px;
		margin: 0;
		text-transform: uppercase;
	}
	h2 {
		font-size: 50px;
		font-weight: 700;
		text-transform: uppercase;
	}
	h3 {
		font-size: 38px;
		text-transform: uppercase;
		margin: 0;
	}
	h4 {
		font-size: 24px;
		font-weight: 300;
		margin: 0;
	}
}
