@lost gutter 20px;
:root {
	--dark-grey: #5E6472;
}
* {
	/*border: 1px solid grey;*/
	/*lost-utility: edit;*/
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: var(--font-family);
	font-weight: 300;
	color: var(--dark-grey);
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	lost-center: 1280px;
}

section {
	lost-utility: clearfix;
}

h1 {
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}

@media screen and (max-width: 1440px){

}
