/*Proxima N W01 Light
Proxima Nova W08 Reg
Proxima Nova W15 Medium
Proxima N W15 Smbd
Proxima N W01 Bold
Proxima N W01 Xbold
Proxima N W15 Black*/
:root {
	--font-light: 'Proxima N W01 Light';
	--font-regular: 'Proxima Nova W08 Reg';
	--font-medium: 'Proxima Nova W15 Medium';
	--font-semibold: 'Proxima N W15 Smbd';
	--font-bold: 'Proxima N W01 Bold';
	--font-extrabold: 'Proxima N W01 Xbold';
	--font-black: 'Proxima N W15 Black';
}
