doctype html
head
	link(type="text/css", rel="stylesheet", href="//fast.fonts.net/cssapi/a4c6b845-60a2-4883-8345-fac043d3fe20.css")
	link(type="text/css", rel="stylesheet", href="https://cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css")
	link(href="css/app.css", rel="stylesheet", type="text/css")
body
	script(type="text/javascript", src="js/system.js")
	script(type="text/javascript", src="js/config.js")
	script(type="text/javascript", src="js/bundle.js")
	script.
		System.import('index.js').then(null, console.log.bind(console));
