.about {
	position: relative;
	&__wrapper {
		lost-column: 5/8;
		& .tagline {
			lost-column: 3/5 1;
			text-align: center;
		}
		& .bio {
			lost-column: 4/5;
			& h2 {
				margin: 0;
				font-size: 45px;
				font-weight: 300;
			}
			& .blockquote {
				margin: 0;
				border-left: 10px solid #ccc;
				padding-left: 20px;
				font-size: 18px;
			}
		}
	}
	&__lead {
		lost-column: 1/8;
		height: 960px;
		position: relative;
		right: 150px;
		background: #f1f1f1;
		z-index: -1;
	}
	&__skills {
		lost-column: 3/8 1;
		position: absolute;
		right: 0;
		top: 50%;
		/*transform: translate(-50px, -225%);*/
		& h1 {
			font-weight: 300;
			text-transform: none;
			font-size: 40px;
		}
		& .skills {
			/*background: #fff;*/
			& .skill {
				position:relative;
				display:inline-block;
				height: 100px;
				width: 100px;
				line-height: 100px;
				vertical-align: middle;
				z-index: 1;
				text-align: center;
				border: 1px solid #ccc;
				& h3 {
					display: inline-block;
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}
