/*transform: translateZ($distance * $perspective * 1px) scale(abs($distance - 1));*/
.header {
	display: flex;
	align-items: center;
	top: 0;
	width: 100%;
	color: #000;
	background: #fff;
	animation: color-change 36s 2.5s infinite;
	z-index: 10;

	&__title {
		margin-left: 1em;
		position: relative;
		lost-column: 6/7 0;
		opacity: 0;
		z-index: 2;
		animation: slide-in-left 1s ease 1s forwards;
	}

	@media screen and (min-width: 1550px){
		display: block;
		position: relative;
		color: var(--dark-grey);
		animation: none;
		&__title {
			lost-column: 3/8;
			position: relative;
			top: 50px;
			opacity: 0;
			z-index: 2;
			animation: slide-in-left 1s ease .5s forwards;
		}
		&__photo {
			lost-column: 5/8;
			lost-offset: -5/16;
			height: 900px;
			margin-top: -250px;
			position: relative;
			top: 0px;
			background-image: url('../assets/background.jpg');
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
			opacity: 0;
			z-index: 1;
			animation: slide-in-right 1s ease .5s forwards;
		}
	}
}
