.sidebar {
	display: none;
	@media screen and (min-width:1550px){
		lost-column: 1/12;
		height: 100%;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		border-right: 1px solid var(--dark-grey);
		box-sizing: border-box;
		background: #fff;
		opacity: 0;
		z-index: 2;
		animation: fade-in 1s ease 1s forwards;
		&__icon {
			position: relative;
			display:block;
			height: 50px;
			width: 50px;
			margin: 20px auto;
			color: var(--dark-grey);
			font-size: 20px;
			text-align: center;
			line-height: 50px;
			vertical-align: middle;
			border-radius: 100%;
			box-shadow: 0 0 0 1px var(--dark-grey);
			cursor: pointer;
			transition: all .125s ease;
			animation: pop 1s ease;

			&::after {
				pointer-events: none;
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				box-sizing: content-box;

				top: 0;
				left: 0;
				padding: 0;
				z-index: -1;
				box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
				opacity: 0;
				transform: scale(0.9);
			}

			&:hover {
				font-size: 35px;
				border: 0px;
				transition: font-size .15s ease-out;
				box-shadow: 0 0 0 0 #fff;
				&::after {
					animation: sonarEffect .5s ease-out;
				}
			}
		}
	}
}
