.sidebar {
	lost-column: 1/12;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border-right: 1px solid var(--dark-grey);
	box-sizing: border-box;
	transform: translate(-100%);
	&__icon {
		display:block;
		height: 50px;
		width: 50px;
		margin: 20px auto;
		color: var(--dark-grey);
		font-size: 20px;
		text-align: center;
		line-height: 50px;
		vertical-align: middle;
		border-radius: 100%;
		border: 1px solid var(--dark-grey);
		cursor: pointer;
		transition: font-size .125s ease;
		&:hover {
			font-size: 30px;
			transition: font-size .125s ease;
		}
	}
}
